logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
package-lock.json
.vscode
*.swp
*.lock
*.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map